<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>

</head>
<body>

<div class="uk-container-expand uk-text-center">
    <div class="uk-grid-large" uk-grid>
        <div class="uk-card uk-card-body uk-background-default uk-width-4-5">
            <h1 class="uk-card-title">Raamatupood</h1>
        </div>
        <div class="uk-card uk-card-body uk-card-default uk-width-1-5">
            <form action="/login" method = "post">
                <button class="uk-button-default uk-align-center">Log In</button>
            </form>
            <form action="/account" method = "post">
                <button class="uk-button-default uk-button">Account</button>
            </form>
        </div>
    </div>


</div>

<div class="uk-grid-match ">
    <div class="uk-container-expand uk-text-center uk-background-muted uk-text-center">
        <h1>Kontakt</h1>
    </div>
</div>


<div class ="uk-containter-expand uk-text-center">

    <p>Siin me asume:</p>

        <div class="center-div">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2091.8983410988703!2d26.712484615766623!3d58.37825129395191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eb36e1900bfbf1%3A0x5a26b1670e99e751!2sJuhan+Liivi+2%2C+50409+Tartu!5e0!3m2!1set!2see!4v1538467002659" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>


    <p>Kui tekib küsimusi, siis kirjuta meile! info@raamatupood.ee</p>

</div>



</body>
</html>