<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Contact</title>

</head>
<body>

<h1>Kontakt</h1>

<p>Siin me asume:</p>
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=juhan%20liivi%202%2C%20Tartu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pureblack.de</a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
<p>Kui tekib küsimusi, siis kirjuta meile! info@raamatupood.ee</p>


</body>
</html>