<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>


<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" style="background-image: url(imgs/header1c.jpg);">
    <h1>Raamatupood(hiljem teeme siia ilusa bänneri)</h1>
</div>


    <div class="uk-background-fixed uk-height-viewport uk-width-1-1" style="background-image: url(imgs/taust3c.jpg);">

        <!-- NAVBAR START-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Raamatupood</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Esileht</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/raamatpostform">Raamatud <span class="caret"></span></a>
                        <ul id="licategory" class="dropdown-menu">
                            <li><a href="/raamatMainPage#all">kõik kategooriad</a> </li>
                        </ul>
                    </li>
                    <li><a href="/contact">Kontakt</a></li>
                </ul>

                <form class="navbar-form navbar-left" action="/raamatpostform"> <!--- hiljem paneme selle tööle, hetkel kasutame otselinki raamatule klikkides-->
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Otsi raamatuid">
                    </div>
                    <button type="submit" class="btn btn-default">Otsi</button>
                </form>


                <div class="navbar-form navbar-right"> <!--parempoolsed nupud -->

                    <div class="btn-group">
                    <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Siin näed oma kasutaja profiili" onclick="window.location.href='/account'" name="accountButton"> <span class="glyphicon glyphicon-user"></span> Account</button>

                    <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" title="Sisselogimine" onclick="window.location.href='/login'" name="loginButton" value="loginButton"> <span class="glyphicon glyphicon-log-in"> </span> Sign in</button>

                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Väljalogimiseks vajuta..."  name="logOutButtton" onclick="signOut()">  <span class="glyphicon glyphicon-log-out"> </span> Sign Out</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- NAVBAR END-->


        <hr style="height:200pt; visibility:hidden;" />

        <div class="uk-overlay uk-overlay-default uk-text-center">

            <H1>Raamatud</H1>
            <p>Siin on mingisugune tekst, mis kirlejdab võib-olla millalgi kauges ja ilusas tuelvikus seda veebilehte.</p>
            <p>Aga tundub, et siin müüakse raamatuid ja muud igasugust põnevat pahna</p>
            <p>Scrolli alla ja vaata seda ilu!</p>
            <em style="color:midnightblue"><a href="/raamatpostform">Siin</a> saab testida ajaxiga piltide kuvamist.</em>



        </div>
        <hr style="height:500pt; visibility:hidden;" />

        <div class="uk-background-fixed uk-height-viewport uk-width-1-1" style="background-image: url(imgs/taust2c.jpg);">

            <div class="uk-overlay uk-overlay-default uk-text-center">
                <H1>Kontakt</H1>


                <p data-toggle="tooltip" data-placement="top" title="Võibolla....">Hiljem tuleb siia mingisugune informatsioon :)</p>
            </div>

            <hr style="height:500pt; visibility:hidden;" />

            <div class="uk-background-fixed uk-height-viewport uk-width-1-1" style="background-image: url(imgs/pilt1c.jpg);">

                <div class="uk-overlay uk-overlay-default uk-text-center">
                    <H1 >SIIN VÕIKS OLLA SINU REKLAAM!</H1>

                    <ul class="uk-thumbnav">
                        <li class="uk-active uk-align-center"><a data-toggle="tooltip" data-placement="top" title="Kliki siia!" href="contact"><img src="imgs/bannerc.gif" alt="reklaam"></a></li>
                    </ul>

                </div>


                <hr style="height:500pt; visibility:hidden;" />
            </div>
        </div>
    </div>

</body>
</html>