<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>raamatupost test</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<form action="/postraamat" method="post" id="searchForm">
    <input type="text" name="s" placeholder="Pealkiri...">
    <input type="text" name="s2" placeholder="Autor...">
    <input type="submit" value="Search">
</form>
<!-- the result of the search will be rendered inside this div -->
<div id="result"></div>

<script>
    $("#foo").submit(function (event) {
        var ajaxRequest;
        event.preventDefault();

        /* Clear result div*/
        $("#result").html('');

        $.ajax({
            url: '/postraamat',
            type: 'POST',
            data: jQuery.param({name: "hello", author: "hello2"}),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                alert(response.status);
                $("result").html('Successful search!');
            },
            error: function () {
                alert("error");
                $("result").html('Some kind of error :( !');


            }
        });

    });
</script>

</body>
</html>