<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>raamatupost test</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/raamat.js"></script>
    <script src="js/anchor.js"></script>


</head>

<body>

<form action="/postraamat" method="post" id="form" name="form">
    <input type="text" name="title" placeholder="Pealkiri..." id="title">
    <input type="text" name="author" placeholder="Autor..." id="author">
    <input name=submit type="submit" value="Search">
</form>
<input id="btn" type="button" value="Kuva kõik raamatud andmebaasist"/>
<div id="result"></div>

</body>
</html>