<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>raamatupost test</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<form action="/postraamat" method="post" id="searchForm">
    <input type="text" name="s" placeholder="Pealkiri...">
    <input type="text" name="s2" placeholder="Autor...">
    <input type="submit" value="Search">
</form>
<!-- the result of the search will be rendered inside this div -->
<div id="result"></div>

<script>
    $("#foo").submit(function(event) {
        var ajaxRequest;

        /* Stop form from submitting normally */
        event.preventDefault();

        /* Clear result div*/
        $("#searchForm").html('');

        /* Get from elements values */
        var values = $(this).serialize();

        /* Send the data using post and put the results in a div */
        /* I am not aborting previous request because It's an asynchronous request, meaning
           Once it's sent it's out there. but in case you want to abort it  you can do it by
           abort(). jQuery Ajax methods return an XMLHttpRequest object, so you can just use abort(). */
        ajaxRequest= $.ajax({
            url: "/postraamat",
            type: "post",
            data: values
        });
        /*  request cab be abort by ajaxRequest.abort() */
        ajaxRequest.done(function (response, textStatus, jqXHR){
            // show successfully for submit message
            $("#result").html('Submitted successfully');
        });

        /* On failure of request this function will be called  */
        ajaxRequest.fail(function (){

            // show error
            $("#result").html('There is error while submit');
        });
</script>

</body>
</html>